## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%block name="sourcelink"></%block>

<%block name="content">
    <div class="well">
        <h2><a href="/galleries">Galeries de Photos</a></h2>
    </div>
    %if text:
    <p>
        ${text}
    </p>
    %endif
    <div id="gallery_container" class="row"></div>
    <noscript>
    <ul class="thumbnails">
        %for image in photo_array:
            <li><a href="${image['url']}" class="thumbnail image-reference" title="${image['title']}">
                <img src="${image['url_thumb']}" alt="${image['title']}"/></a>
        %endfor
    </ul>
    </noscript>

    %if enable_comments:
        ${comments.comment_form(None, permalink, title)}
    %endif
</%block>


<%block name="extra_js">
<script>
jsonContent = ${photo_array_json};
for (i in jsonContent) {
    img = $("<img />").attr({
        'src': jsonContent[i].url_thumb,
    });
    link = $( "<a></a>").attr({
        'href': jsonContent[i].url,
        'class': 'image-reference'
    });
    divcol = $("<div />").addClass('col-xs-2');
    div = $("<div />").addClass('gallery-thumb img-rounded').attr({
        'title': jsonContent[i].title,
        'data-toggle': "tooltip",
        'style': 'background-image: url(\''+jsonContent[i].url_thumb+'\');'
    });
    link.append(img); 
    div.append(link);
    div.hover(div.tooltip());
    divcol.append(div)
    $('#gallery_container').append(divcol);
};

$("a.image-reference").colorbox({rel:"gal", maxWidth:"100%",maxHeight:"100%",scalePhotos:true});

</script>
</%block>
