## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    <style type="text/css">
        .fiche {display: none !important};
    </style>
    % for post in posts:
        <div class="row well well-small teaser" style="position: relative;">
                <a href="/categories/cat_${post.meta('icon')}.html"><img class="pull-right" src="/images/logos/${post.meta('icon')}.png" title="${post.meta('category')}"/></a>
                <h3>
                    <a href="${post.permalink()}">${post.title()}</a><br/>
                    <small>
                        <time class="published" datetime="${post.date.isoformat()}"><i>${post.formatted_date(date_format)}</i></time><br/>
                    </small>
                </h3>
                <hr/>
                ${post.text(teaser_only=index_teasers)}
                <br/>
        </div>
    <hr/>
    % endfor
    ${helper.html_pager()}
    ${comments.comment_link_script()}
    ${helper.mathjax_script(posts)}
</%block>
