## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="bootstrap" file="bootstrap_helper.tmpl" import="*" />
${set_locale(lang)}
<!DOCTYPE html>
<html
%if comment_system == 'facebook':
xmlns:fb="http://ogp.me/ns/fb#"
%endif
lang="${lang}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${bootstrap.html_head()}
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body>
<div class="container">
    <div class="body-content">
        <div class="well row col-md-8">
            <h1>Gotham Blog Newsletter</h1>
            <a href="http://www.nemocorp.info/newsletter.html">Voir la Newsletter en ligne</a><br/>
            <a href="http://www.nemocorp.info/phplists/?p=subscribe&id=1">Abonnez-vous à la Niouzelaiteur</a><br/>
<style>
.fiche {display:none !important;}
</style>
        </div>
            % for post in posts:
            <div class="well row col-md-8">
            <h3><a href="${post.permalink()}">${post.title()}</a>
            <br/><small><time class="published" datetime="${post.date.isoformat()}"><i>${post.formatted_date(date_format)}</i></time></small></h3>
                        <small><small>${post.text(teaser_only=index_teasers)}</small></small>
            <br/>
            <hr/>
            </div>
            % endfor
    </div>
</div>

${bootstrap.late_load_js()}
<%block name="extra_js"></%block>
${body_end}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11228401-1']);
  _gaq.push(['_setDomainName', 'nemocorp.info']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>

