## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
% if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}"/>
% endif
</%block>
<%block name="content">
    <div class="postbox">
        <div class="row well">
            <div class="pull-right">
                <a href="/categories/cat_${post.meta('icon')}.html"><img class="pull-right" src="/images/logos/${post.meta('icon')}.png" rel="tooltip" data-toggle="tooltip" data-original-title="${post.meta('category')}" data-placement="bottom"/></a><br/>
            </div>
            <h3><a href="${post.permalink()}">${post.title()}</a>
            <br/><small><time class="published" datetime="${post.date.isoformat()}"><i>${post.formatted_date(date_format)}</i></time><br/>${helper.html_tags(post)}</small></h3>
            ${helper.social(post)}
        </div>

        ${post.text()}
        ${helper.html_pager(post)}
        % if not post.meta('nocomments'):
            ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
        % endif
        ${helper.mathjax_script(post)}
    </div>
</%block>

<%block name="twitter_perso">
% if post.meta('icon')=="jeux-de-societe":
<a class="twitter-timeline"  href="https://twitter.com/search?q=%23j2s"  data-widget-id="400652494188994560">Tweets concernant "#j2s"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
% else:
<a class="twitter-timeline"  href="https://twitter.com/nemocorp"  data-widget-id="400654823516684288">Tweets de @nemocorp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
% endif
<hr/>
</%block>

<%block name="sourcelink">
% if not post.meta('password'):
    <li>
    <a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a>
    </li>
% endif
</%block>
